:root {
    --backgroundColor: #091a28;
    --accent: #f1c40f;
    --orange: #ffbe76;
    --red: #ff7979;
    --faint-orange-color: rgba(255,190,118, .2);
    --codeBackgroudColor: rgba(44,58,71,.2);
    --textColor: white;
    --faint-red-color: rgba(255, 121, 121, .7);
    --borderColor: rgba(255,190,118, .1);
}

body {
    margin: 0;
    padding: 0;
    background: var(--backgroundColor);
    flex-direction: column;
    align-content: stretch;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
}

header,
footer {
    display: flex;
    height: 42px;
    padding: 16px;
    flex-grow: 1;
}

header,
main,
footer {
    font-family: "Nunito Sans", sans-serif;
}

main {
    display: flex;
    min-height: 42px;
    flex-grow: 4;
}

header {
    border-bottom: 1px solid var(--borderColor);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

header .logo-container {
    font-family: 'Leckerli One', italic;
    color: var(--accent);
    font-size: 2em;
    line-height: 40px;
    flex-grow: 16;
    text-shadow: 2px 2px var(--faint-red-border);
}

.logo:before {
    content: '';
    height: 2px;
    background: var(--accent);
}

header nav {
    height: 42px;
    line-height: 42px;
    flex-grow: 1;
}

.navigation-links { 
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: end;
    align-items: center;
}

.navigation-links li {
    margin: 0px 16px;
}

.navigation-links li a {
    color: white;
    font-size: .7em;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
    color: rgba(255, 255, 255, .7);
}

.navigation-links li a:focus,
.navigation-links li a:hover {
    color:var(--accent);
    padding-bottom: 4px;
}